/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

.homePageSetupButton
{
	icon: Embed("../Icons/Setup.png");	
}

.homePageClassMonitoring
{
	icon: Embed("../Icons/classmonitor.png");	
}

.homePageSchoolAdmin
{
	icon: Embed("../Icons/Admin-icon.png");	
}

.homePagePerformance
{
	icon: Embed("../Icons/performance-main.png");
}

.performanceClass
{
	icon: Embed("../Icons/class.png");
}

.performanceStudent
{
	icon: Embed("../Icons/student.png");
}

.btnTimeSpent
{
	icon: Embed("../Icons/timespent.png");
}

.btnAccuracy
{
	icon: Embed("../Icons/accuracy.png");
}

.btnPerformance
{
	icon: Embed("../Icons/performance.png");
}

.btnStats
{
	icon: Embed("../Icons/dashboard.png");
}

.btnLO
{
	icon: Embed("../Icons/LO.png");
}

.btnChat
{
	icon: Embed("../Icons/chathelp.png");
}

.btnQuestionsAnswers
{
	icon: Embed("../Icons/questions_answers_icon.png");
}

.btnSpecialAssignment
{
	icon: Embed("../Icons/assign.png");
}

.btnChart
{
	icon: Embed("../Icons/chartIcon.png");
}

.btnRawData
{
	icon: Embed("../Icons/rawDataIcon.png");
}
